
<%= form_tag("/alert/create", :method => "get") do %>
	<b><font size=5><%=label_tag "q", "New Search"%></b>
  	<%= text_field_tag(:q, nil, :placeholder => "101 Larkin St", :size => 27) -%></font>
	  
	<font size=5><b><%= label_tag "st", "Alarm Options"-%></b></font>
	<%= select_tag "st", options_for_select([ "Night Before", "1 Hour Before", "Don't Create an Alarm" ], "Night Before") %>
    <%= submit_tag("Get Results!", :class => "user_submit") %>
<% end %>

<hr>

<%if @message&&@box%>
	<%if @box == "error"%>
		<div class='error'><%=@message%></div>
	<%elsif @box == "warn"%>
		<div class='warning'><%=@message%></div>
	<%elsif @box == 'info'%>
		<div class='info'><%=@message%></div>
	<%elsif @box == 'success'%>
		<div class='success'><%=@message%></div>
	<%end%>
<%end%>



<%if @alerts != [] && @alerts != nil%>
<br>
<font size=5><b>Your Current Alerts!</b></font>
<table align="center" cellspacing="10">
  <tr>	
	<th><u>Location</u></th>
	<th><u>CleanTime</u></th>
	<th><u>Alert Send</u></th>
	<th><th>
  </tr>
	
	<%@alerts.each do |a|%>
	<tr>
		<td><%=a.location%>  </td>
		<td><%=a.clean_time%>  </td>
		<td> <%if a.nb4%>Night Before<%else%>One Hour Before<%end%> </td>
		<td> <%= submit_tag("delete", :controller => "alert", :action => "kill", :q => a.id, :method => "get", :class => "user_delete") %> | <%= submit_tag("edit", :controller => "alert", :action => "edit", :alarm => a.id, :method => "get", :class => "user_delete" ) %></td>
	</tr>
	<%end%>
</table>
<%else%>
	<h2>You have no alerts right now</h2>
<%end%>