
<div class="about_image">
	<%= image_tag "dillman-image.png"%>
	<%= image_tag "peter-image.png"%>
	<%= image_tag "dian-image.png"%>
	<%= image_tag "terry-image-color.png"%>
	<%= image_tag "jennifer-image.png"%>
	<%= image_tag "joseles-image.png"%>
	<%= image_tag "zac-image.png"%>
	
</div>
<div class="content_box" id="about_box">
	
<p> <%= I18n.translate('about_us.intro') %></p>
	
<h3><%= I18n.translate('about_us.facts_title') %></h3>
	
<h4><%= I18n.translate('about_us.fact_1') %></h4>

<h4><%= I18n.translate('about_us.fact_2') %></h4>

<h4><%= I18n.translate('about_us.fact_3') %></h4>

<p><%= I18n.translate('about_us.closing') %></p>	

</div>
WOrk!