<!-- TODO: 
1. [luke] hook up the DONATE button in the footer nav for each section
2. [zac] Create and link in icons for nav links
3. [dian] Decide on Alerts or Alarms and make consistent for client side shit
4. [peter] recent alarms, condense if the same
5. style how it works page for mobile
6. style About Us page for mobile
7. style Contact Us page for mobile
8. style TOS page for mobile
-->

<head>	

	<!-- JQUERY CODE -->
	  <script>
	  $(document).ready(function() {
		
		// Load Current Alerts and Recent Alerts, before those functions are callled
		
	    $("#searchbutton").click(function(){
			nextClean();	
		});
		$(".delete").click(function(){
			killAlert();
		});
		$(".change").click(function(){
			changeAlert();
		});
		$("#searchCreateAlert").click(function(){
			makeAlert();
		});	
		$("#recentCreateAlert").click(function(){
			makeRecentAlert();
		});
	  });
	  </script>
</head>	

<div id='container'>	
  														<!-- Main Page-->
	<div data-role="page" id="main">  	  
	 <!-- Main Header -->
	  <div data-role="header" id='hdrMain' name='hdrMain' data-nobackbtn='true'>
	  	<div data-role="navbar"><!-- header navbar -->
				<ul>
					<!-- TODO: Need to put in Icons here -->
					<li><a href="#" class="ui-btn-active">Logo</a></li>
					<%if signed_in?%>
						<li><a rel='external' href="/users/edit">Profile</a></li>
					<%else%>
						<li><a rel='external' href="/users/sign_in?mobile=1">Sign In/Up to Create Alarms</a></li>
					<%end%>
					<li><a rel='external' href="/lookup/how_to">How It Works</a></li>
				</ul>
		</div><!-- /navbar -->
	  </div>
	
	  <!-- Main Content-->
	  <div data-role="content" id="mainContent" name="mainContent" >
		
		<!-- Search Bar -->
		<form_action='addr' method="get">
			<div data-role="fieldcontain">
					    <label for="search"><b><%= I18n.translate('mobile.search_title')%></b></label><br/>
					    <input type="search" name="streetclean" id="searchinput" value="" />
				        <button type="submit" name="submit" id ="searchbutton" value="submit-value"><%= I18n.translate('mobile.submit')%></button>
			</div>
		</form>
		<hr>
		<!-- Show ALarms -->
	    
		<%if signed_in?%>
			<ul data-role='listview' data-theme="g">
				<li><a href="#alertShow"><%= I18n.translate('mobile.current_alerts')%></a></li>
				<li><a href="#recent"><%= I18n.translate('mobile.recent')%></a></li>
			</ul>
		<%else%>
			<!-- <li><a rel='external' href="/users/sign_in?mobile=1">Sign In/ Sign Up to Create Alarms</a></li> -->
		<%end%>
			
		
	  </div> <!-- End main content div -->
	
	  <!-- Main Footer -->
	  <div data-role="footer" id='ftrMain' name='ftrMain' data-nobackbtn='true'>
		<div data-role="navbar"><!-- footer navbar -->
				<ul>
					<!-- TODO: Need to put in Icons here -->
					<li><a rel='external' href="" class="ui-btn-active">Donate</a></li>
					<li><a rel='external' href="/layouts/about_us">About Us</a></li>
					<li><a rel='external' href="/layouts/contact_us">Contact Us</a></li>
					<li><a rel='external' href="/layouts/tos">TOS</a></li>
				</ul>
		</div><!-- /navbar -->
		<!-- <h1><%= I18n.translate('mobile.footer')%></h1> -->
	  </div>
    </div>   

																<!-- End MAIN PAGE -->
																
																<!-- Search For Cleans Page -->
    
														<!-- Landing Page for Search -->
    <div data-role="page" id="searchForCleans">
			<!-- CLEANS HEADER  -->
	  	<div data-role="header" id='sfcHdr' name='sfcHdr' data-nobackbtn='false'>

		  	<div data-role="navbar"><!-- header navbar -->
					<ul>
						<!-- TODO: Need to put in Icons here -->
						<li><a href="#" class="ui-btn-active">Logo</a></li>
						<%if signed_in?%>
							<li><a rel='external' href="/users/edit">Profile</a></li>
						<%else%>
							<li><a rel='external' href="/users/sign_in?mobile=1">Sign In/Up to Create Alarms</a></li>
						<%end%>
						<li><a rel='external' href="/lookup/how_to">How It Works</a></li>
					</ul>
			</div><!-- /navbar -->
		</div>
		     <!-- CLEANS CONTENT -->
 	    <div data-role="content" id="searchForCleansContent" name="searchForCleansContent" >
			<form_action='addr' method="get">
				<div data-role="fieldcontain">
						    <label for="search"><%= I18n.translate('mobile.search')%></label>
						    <input type="search" name="streetclean" id="searchinput" value="" />
					        <button type="submit" name="submit" id ="searchbutton" value="submit-value"><%= I18n.translate('mobile.submit')%></button>
				</div>
			</form>
		</div>
			<!-- CLEANS FOOTER -->
	   <div data-role="footer" id='ftrCleans' name='ftrCleans' data-nobackbtn='true'>
	   		<div data-role="navbar"><!-- footer navbar -->
					<ul>
						<!-- TODO: Need to put in Icons here -->
						<li><a rel='external' href="" class="ui-btn-active">Donate</a></li>
						<li><a rel='external' href="/layouts/about_us">About Us</a></li>
						<li><a rel='external' href="/layouts/contact_us">Contact Us</a></li>
						<li><a rel='external' href="/layouts/tos">TOS</a></li>
					</ul>
			</div><!-- /navbar -->
			<!-- <h1><%= I18n.translate('mobile.footer')%></h1> -->
		</div>
		
	</div>   																<!-- End Search For Cleans Page -->
	
	
														<!-- Show Alerts Page -->
	<div data-role="page" id="alertShow">  	  
	 <!-- Alerts Header -->
	  <div data-role="header" id='hdrAlerts' name='hdrAlerts' >
	  	<div data-role="navbar"><!-- header navbar -->
				<ul>
					<!-- TODO: Need to put in Icons here -->
					<li><a href="#" class="ui-btn-active">Logo</a></li>
					<%if signed_in?%>
						<li><a rel='external' href="/users/edit">Profile</a></li>
					<%else%>
						<li><a rel='external' href="/users/sign_in?mobile=1">Sign In/Up to Create Alarms</a></li>
					<%end%>
					<li><a rel='external' href="/lookup/how_to">How It Works</a></li>
				</ul>
		</div><!-- /navbar -->
	  </div>
	
	  <!-- Main Content-->
	  <div data-role="content" id="alertsContent" name="alertsContent" >
		
		<!-- Search Bar -->

		<!-- Show ALarms -->
		
	    <ul data-role='listview' id="alertList" data-theme="g">
			<%if @alerts && @alerts != []%>
			<%@alerts.each do |a|%>
	    	<li>
				<div class='alert' data-id=<%=a.id%> >
					<b><%=a.location%> <br/></b>
					<%=a.clean_time%> <br/>
					<div class='sendTime'  data-id=<%=a.id%> > <%if a.nb4%><%= I18n.translate('mobile.night_before')%><%else%><%= I18n.translate('mobile.one_hour')%><%end%> </div>
					<button class='change' data-id=<%=a.id%> ><%= I18n.translate('mobile.change_time')%></button>
					<button class='delete' data-id=<%=a.id%> ><%= I18n.translate('mobile.delete')%></button>
				</div>
			</li>
			<%end%>
			<%else%>
				<li><%= I18n.translate('mobile.no_alerts')%></li>
			<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->

	  <!-- Alerts Footer -->
	  <div data-role="footer" id='ftrAlerts' name='ftrAlerts' data-nobackbtn='true'>
		<div data-role="navbar"><!-- footer navbar -->
				<ul>
					<!-- TODO: Need to put in Icons here -->
					<li><a rel='external' href="" class="ui-btn-active">Donate</a></li>
					<li><a rel='external' href="/layouts/about_us">About Us</a></li>
					<li><a rel='external' href="/layouts/contact_us">Contact Us</a></li>
					<li><a rel='external' href="/layouts/tos">TOS</a></li>
				</ul>
		</div><!-- /navbar -->
		<!-- <h1><%= I18n.translate('mobile.footer')%></h1> -->
	  </div>
    </div>
																			<!-- End Show Alerts Page -->
																			
																			<!-- Recent Alarms -->

	<div data-role="page" id="recent">  	  
	 <!-- Recent Alarms Header -->
	  <div data-role="header" id='hdrRecent' name='hdrRecent' >
	  	<div data-role="navbar"><!-- header navbar -->
				<ul>
					<!-- TODO: Need to put Icons here -->
					<li><a href="#" class="ui-btn-active">Logo</a></li>
					<%if signed_in?%>
						<li><a rel='external' href="/users/edit">Profile</a></li>
					<%else%>
						<li><a rel='external' href="/users/sign_in?mobile=1">Sign In/Up to Create Alarms</a></li>
					<%end%>
					<li><a rel='external' href="/lookup/how_to">How It Works</a></li>
				</ul>
		</div><!-- /navbar -->
	  </div>
																				
	  <!-- Main Content-->
	  <div data-role="content" id="recentContent" name="recentContent" >
		

		<!-- Show ALarms -->
		
	    <ul data-role='listview' data-theme="g">
			<%if @recs && @recs != []%>
			<%@recs.each do |r|-%>
		    	<li><%=r%><button id='recentCreateAlert' q="<%=r%>" >Create Alert!</button> <br/></li>
			<%end%>
			<%else%>
				<li><%= I18n.translate('mobile.no_recent')%></li>
			<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Recent Alarms Footer -->
	  <div data-role="footer" id='ftrAlarms' name='ftrAlarms' data-nobackbtn='true'>
		<div data-role="navbar"><!-- footer navbar -->
				<ul>
					<!-- TODO: Need to put in Icons here -->
					<li><a rel='external' href="" class="ui-btn-active">Donate</a></li>
					<li><a rel='external' href="/layouts/about_us">About Us</a></li>
					<li><a rel='external' href="/layouts/contact_us">Contact Us</a></li>
					<li><a rel='external' href="/layouts/tos">TOS</a></li>
				</ul>
		</div><!-- /navbar -->
		<!-- <h1><%= I18n.translate('mobile.footer')%></h1> -->
	  </div>
    </div>
																				<!-- End Recent Alarms -->

     													<!-- Search Results-->

	<div data-role="page" id="results">  	  
	  <!-- Search Results Header -->
	  <div data-role="header" id='hdrResults' name='hdrResults' >
	  	<div data-role="navbar"><!-- header navbar -->
				<ul>
					<!-- TODO: Need to put in Icons here -->
					<li><a href="#" class="ui-btn-active">Logo</a></li>
					<%if signed_in?%>
						<li><a rel='external' href="/users/edit">Profile</a></li>
					<%else%>
						<li><a rel='external' href="/users/sign_in?mobile=1">Sign In/Up to Create Alarms</a></li>
					<%end%>
					<li><a rel='external' href="/lookup/how_to">How It Works</a></li>
				</ul>
		</div><!-- /navbar -->
	  </div>
	  <!--End Header -->
	
	  <!-- Main Content-->
	  <div data-role="content" id="resultsContent" name="resultsContent" >
		<div id='searchresults'></div>
		<%if signed_in?%>
		<button id='searchCreateAlert' q="fillmein" time="fillmein" ><%= I18n.translate('mobile.create_alert')%></button>
		<%else%>
		<li><a rel='external' href="/users/sign_in?mobile=1">Sign In/Up to Create Alarms</a></li>
		<%end%>

		
	  </div>
	  <!-- End main content div -->
	
	  <!-- Search Results Footer -->
	  <div data-role="footer" id='ftrResults' name='ftrResults' data-nobackbtn='true'>

		<div data-role="navbar"><!-- footer navbar -->
				<ul>
					<!-- TODO: Need to put in Icons here -->
					<li><a rel='external' href="" class="ui-btn-active">Donate</a></li>
					<li><a rel='external' href="/layouts/about_us">About Us</a></li>
					<li><a rel='external' href="/layouts/contact_us">Contact Us</a></li>
					<li><a rel='external' href="/layouts/tos">TOS</a></li>
				</ul>
		</div><!-- /navbar -->
		<!-- <h1><%= I18n.translate('mobile.footer')%></h1> -->
	  </div>
	  <!-- End Footer -->
    </div>
																				<!-- End Search Results Page -->
																				
	  
</div> <!-- End Container -->
