<script>

	$.fn.exBounce = function(){
	    var self = this;
	    (function runEffect(){
	        self.effect("bounce", { times:3 }, 1000);
					setTimeout(function(){ $("#homePageImage").fadeIn();
				 	console.log("hi");
					setTimeout(function(){ $("#homePageImage").fadeOut();}, 3000) }, 0);
		 })();
	   return this;

	};
	$(document).ready(function(){
	    	 	console.log("document ready");
	$("#homePageImage").exBounce();
	});
	
</script>

<div id="homePageImage">
	<%= image_tag("arrow.png") %>
</div>

<!-- <div id="lookup"> -->
	

<div id="lookup_container">

	<div id="lookup_form_container">
	<%= form_tag("/lookup/addr", :method => "get") do %>

  	<%= text_field_tag(:q, nil, :placeholder => I18n.translate('header.search'), :size => 55, :class => "input2") -%>	
	
		
    <%= submit_tag(I18n.translate('header.search_button'), :class => "user_submit", :id => "search_submit") %>

	<% end %>
	</div>
	<div id="alertmsg">
	<%if @message&&@box%>
		<%if @box == "error"%>
			<div class='error'><%=@message%></div>
		<%elsif @box == "warn"%>
			<div class='warning'><%=@message%></div>
		<%elsif @box == 'info'%>
			<div class='info'><%=@message%>		<%=link_to(I18n.translate('header.create_alert'), :class => "user_submit", :id => "alert_submit", :controller=>"alert", :action=>"create", :method => "get", :q=>@usr_qry, :st => I18n.translate('alertcontroller.alertmessages.options.night_before')) %></div>
		<%elsif @box == 'error'%>
			<div class='error'><%=@message%></div>
		<%end%>
	<%end%>
	</div>
	
<!-- </div> -->
		

	
	
	
</div>
