<script>

	$.fn.exBounce = function(){
	    var self = this;
	    (function runEffect(){
	        self.effect("bounce", { times:3 }, 300, runEffect);
					setTimeout(function(){ $("#homePageImage").fadeOut() }, 5000);
					
	    })();
	   return this;

	};
	$(document).ready(function(){
	    $("#homePageImage").exBounce();
	});
	
</script>

<div id="homePageImage">
	<%= image_tag("arrow.png") %>
</div>

<div id="lookup">
	

<div class="lookup_container">
	<%= form_tag("/lookup/addr", :method => "get") do %>

  	<%= text_field_tag(:q, nil, :placeholder => I18n.translate('header.search'), :size => 55, :class => "input1") -%>	

    <%= submit_tag(I18n.translate('header.search_button'), :class => "user_submit") %>

		<% end %>
</div>
		
		<div id="alertmsg">
		<%if @message&&@box%>
			<%if @box == "error"%>
				<div class='error'><%=@message%></div>
			<%elsif @box == "warn"%>
				<div class='warning'><%=@message%></div>
			<%elsif @box == 'info'%>
				<div class='info'><%=@message%></div>
<<<<<<< HEAD
=======
				<%=submit_tag(I18n.translate('header.create_alert'), :class => "user_submit", :id => "alert_submit", :controller=>"alert", :action=>"create", :method => "get")%>
>>>>>>> 6d0aa457592eab453bd7585c900a93dd970ae806
			<%elsif @box == 'error'%>
				<div class='error'><%=@message%></div>
			<%end%>
		<%= form_tag("../alert/create", :method => "get") do %>
		<%=submit_tag("CREATE\nALERT", :class => "user_submit", :id => "alert_submit", :controller=>"alert", :action=>"create", :method => "get") %>
		<%end%>
	<% end %> 
		</div>	
	
	
	
	
</div>
