<head>	

	<!-- JQUERY CODE -->
	  <script>
	  $(document).ready(function() {
	    $("#searchbutton").click(function(){
			nextClean();	
			$.mobile.changePage( "#results", { transition: "pop"} );			
		});
		$(".delete").click(function(){
			killAlert();
		});
		$(".change").click(function(){
			changeAlert();
		});
		$(".createAlert").click(function(){
			makeAlert();
		});
		
	  });
	  </script>
</head>	

<div id='container'>	
																							<!-- Main Page-->
	<div data-role="page" id="main">  	  
	 <!-- Header -->
	  <div data-role="header" id='hdrMain' name='hdrMain' data-nobackbtn='true'>
	  	TCKTCRCKT 
	  </div>
	
	  <!-- Main Content-->
	  <div data-role="content" id="mainContent" name="mainContent" >
		
		<!-- Search Bar -->
		<form_action='addr' method="get">
			<div data-role="fieldcontain">
					    <label for="search"><b><%= I18n.translate('mobile.search_title')%></b></label><br/>
					    <input type="search" name="streetclean" id="searchinput" value="" />
				        <button type="submit" name="submit" id ="searchbutton" value="submit-value"><%= I18n.translate('mobile.submit')%></button>
			</div>
		</form>

		<!-- Show ALarms -->
	    <ul data-role='listview' data-theme="g">
			<li><a href="#searchForCleans"><%= I18n.translate('mobile.search')%></a></li>
			<li><a href="#alerts"><%= I18n.translate('mobile.current_alerts')%></a></li>
			<li><a href="#recent"><%= I18n.translate('mobile.recent')%></a></li>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
    </div>   <!-- End MAIN PAGE -->
    

    <div data-role="page" id="searchForCleans">
			<!-- CLEANS HEADER  -->
	  	<div data-role="header" id='sfcHdr' name='sfcHdr'>
		  	<%= I18n.translate('mobile.search')%>
		</div>
		     <!-- CLEANS CONTENT -->
 	    <div data-role="content" id="searchForCleansContent" name="searchForCleansContent" >
			<form_action='addr' method="get">
				<div data-role="fieldcontain">
						    <label for="search"><%= I18n.translate('mobile.search')%></label>
						    <input type="search" name="streetclean" id="searchinput" value="" />
					        <button type="submit" name="submit" id ="searchbutton" value="submit-value"><%= I18n.translate('mobile.submit')%></button>
				</div>
			</form>
		</div>
			<!-- CLEANS FOOTER -->
	   <div data-role="footer">
	   		<%= I18n.translate('mobile.footer')%>
		</div>
		
	</div>   <!-- End Search For Cleans Page -->
	
	
																				<!-- Show Alerts Page -->
	<div data-role="page" id="alertShow">  	  
	 <!-- Header -->
	  <div data-role="header" id='hdrAlerts' name='hdrAlerts' >
	  	TCKTCRCKT
	  </div>
	
	  <!-- Main Content-->
	  <div data-role="content" id="alertsContent" name="alertsContent" >
		
		<!-- Search Bar -->

		<!-- Show ALarms -->
		
	    <ul data-role='listview' data-theme="g">
			<%if @alerts && @alerts != []%>
			<%@alerts.each do |a|%>
	    	<li>
				<div class='alert' data-id=<%=a.id%> >
					<b><%=a.location%> <br/></b>
					<%=a.clean_time%> <br/>
					<div class='sendTime'  data-id=<%=a.id%> > <%if a.nb4%><%= I18n.translate('mobile.night_before')%><%else%><%= I18n.translate('mobile.one_hour')%><%end%> </div>
					<button class='change' data-id=<%=a.id%> ><%= I18n.translate('mobile.change_time')%></button>
					<button class='delete' data-id=<%=a.id%> ><%= I18n.translate('mobile.delete')%></button>
				</div>
			</li>
			<%end%>
			<%else%>
				<li><%= I18n.translate('mobile.no_alerts')%></li>
			<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
    </div>


	<div data-role="page" id="recent">  	  
	 <!-- Header -->
	  <div data-role="header" id='hdrRecent' name='hdrRecent' >
	  	TCKTCRCKT
	  </div>
																				<!-- Recent Alarms -->
	  <!-- Main Content-->
	  <div data-role="content" id="recentContent" name="recentContent" >
		

		<!-- Show ALarms -->
		
	    <ul data-role='listview' data-theme="g">
			<%if @recs && @recs != []%>
			<%@recs.each do |r|-%>
		    	<li><%=r%> <br/>
			<%end%>
			<%else%>
				<li><%= I18n.translate('mobile.no_recent')%></li>
			<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
    </div>

     																			<!-- Search Results-->

	<div data-role="page" id="results">  	  
	  <!-- Header -->
	  <div data-role="header" id='hdrResults' name='hdrResults' >
	  	TCKTCRCKT
	  </div>
	  <!--End Header -->
	
	  <!-- Main Content-->
	  <div data-role="content" id="resultsContent" name="resultsContent" >
		<div id='fullResultContent'>
			<div id='searchresults'><div>
			<button id='searchCreateAlert' q=''time =''><%= I18n.translate('mobile.create_alert')%></button>
		</div>
		
	  </div>
	  <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
	  <!-- End Footer -->
    </div>
	<!-- ################## End Search Results Page ############### -->
	  
</div> <!-- End Container -->
