<div id='container'>

<<<<<<< HEAD
<div id='container'>	
																							<!-- Main Page-->
	<div data-role="page" id="main">  	  
	 <!-- Header -->
	  <div data-role="header" id='hdrMain' name='hdrMain' data-nobackbtn='true'>
	  	TCKTCRCKT 
	  </div>
	
	  <!-- Main Content-->
	  <div data-role="content" id="mainContent" name="mainContent" >
		
		<!-- Search Bar -->
		<form_action='addr' method="get">
			<div data-role="fieldcontain">
					    <label for="search"><b><%= I18n.translate('mobile.search_title')%></b></label><br/>
					    <input type="search" name="streetclean" id="searchinput" value="" />
				        <button type="submit" name="submit" id ="searchbutton" value="submit-value"><%= I18n.translate('mobile.submit')%></button>
			</div>
		</form>
		<hr>
		<!-- Show ALarms -->
	    <ul data-role='listview' data-theme="g">
		<%if signed_in?%>
			<li><a href="#alertShow"><%= I18n.translate('mobile.current_alerts')%></a></li>
			<li><a href="#recent"><%= I18n.translate('mobile.recent')%></a></li>
		<%else%>
			<li><a rel='external' href="/users/sign_in?mobile=1"><%= I18n.translate('mobile.sign_in_up')%></a></li>
		<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
    </div>   <!-- End MAIN PAGE -->
    
=======
<div data-role="page" id="main">  	  
 <!-- Header -->
  <div data-role="header" id='hdrMain' name='hdrMain' data-nobackbtn='true'>
  	TCKTCRCKT 
  </div>
>>>>>>> 1b1f0498ce1f1ceb664a7da658884ac379e450a9


Our mobile site is currently under construction.
<br>
Sorry!
<br>
<a href="/?mobile=0">Full Site</a>



<<<<<<< HEAD
		<!-- Show ALarms -->
		
	    <ul data-role='listview' data-theme="g">
			<%if @recs && @recs != []%>
			<%@recs.each do |r|-%>
		    	<li><%=r%><button id='recentCreateAlert' q="<%=r%>" ><%= I18n.translate('mobile.create_alert')%></button> <br/></li>
			<%end%>
			<%else%>
				<li><%= I18n.translate('mobile.no_recent')%></li>
			<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
    </div>
=======
>>>>>>> 1b1f0498ce1f1ceb664a7da658884ac379e450a9

  <!-- Footer -->
  <div data-role="footer">
	<%= I18n.translate('mobile.footer')%>
  </div>
  <!-- End Footer -->

<<<<<<< HEAD
	<div data-role="page" id="results">  	  
	  <!-- Header -->
	  <div data-role="header" id='hdrResults' name='hdrResults' >
	  	TCKTCRCKT
	  </div>
	  <!--End Header -->
	
	  <!-- Main Content-->
	  <div data-role="content" id="resultsContent" name="resultsContent" >
		<div id='searchresults'></div>
		<%if signed_in?%>
		<button id='searchCreateAlert' q="fillmein" time="fillmein" ><%= I18n.translate('mobile.create_alert')%></button>
		<%else%>
		<li><a rel='external' href="/users/sign_in?mobile=1"><%= I18n.translate('mobile.sign_in_up')%></a></li>
		<%end%>

		
	  </div>
	  <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
	  <!-- End Footer -->
    </div>
	<!-- ################## End Search Results Page ############### -->
	  
</div> <!-- End Container -->
=======
</div>
>>>>>>> 1b1f0498ce1f1ceb664a7da658884ac379e450a9
