<head>	
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>
	<!-- JQUERY CODE -->
	  <script>
	  $(document).ready(function() {
	    $("#searchbutton").click(function(){
			nextClean();	
		});
		$(".delete").click(function(){
			killAlert();
		});
		$(".change").click(function(){
			changeAlert();
		});
		$("#searchCreateAlert").click(function(){
			makeAlert();
		});	
		$("#recentCreateAlert").click(function(){
			makeRecentAlert();
		});
	  });
	  </script>
</head>	

<div id='container'>	
																							<!-- Main Page-->
	<div data-role="page" id="main">  	  
	 <!-- Header -->
	  <div data-role="header" id='hdrMain' name='hdrMain' data-nobackbtn='true'>
	  	TCKTCRCKT 
	  </div>
	
	  <!-- Main Content-->
	  <div data-role="content" id="mainContent" name="mainContent" >
		
		<!-- Search Bar -->
		<form_action='addr' method="get">
			<div data-role="fieldcontain">
					    <label for="search"><b><%= I18n.translate('mobile.search_title')%></b></label><br/>
					    <input type="search" name="streetclean" id="searchinput" value="" />
				        <button type="submit" name="submit" id ="searchbutton" value="submit-value"><%= I18n.translate('mobile.submit')%></button>
			</div>
		</form>
		<hr>
		<!-- Show ALarms -->
	    <ul data-role='listview' data-theme="g">
		<%if signed_in?%>
			<li><a href="#alertShow"><%= I18n.translate('mobile.current_alerts')%></a></li>
			<li><a href="#recent"><%= I18n.translate('mobile.recent')%>></a></li>
		<%else%>
			<li><a rel='external' href="/users/sign_in?mobile=1">Sign In/ Sign Up to Create Alarms</a></li>
		<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
    </div>   <!-- End MAIN PAGE -->
    

    <div data-role="page" id="searchForCleans">
			<!-- CLEANS HEADER  -->
	  	<div data-role="header" id='sfcHdr' name='sfcHdr'>
		  	<%= I18n.translate('mobile.search')%>
		</div>
		     <!-- CLEANS CONTENT -->
 	    <div data-role="content" id="searchForCleansContent" name="searchForCleansContent" >
			<form_action='addr' method="get">
				<div data-role="fieldcontain">
						    <label for="search"><%= I18n.translate('mobile.search')%></label>
						    <input type="search" name="streetclean" id="searchinput" value="" />
					        <button type="submit" name="submit" id ="searchbutton" value="submit-value"><%= I18n.translate('mobile.submit')%></button>
				</div>
			</form>
		</div>
			<!-- CLEANS FOOTER -->
	   <div data-role="footer">
	   		<%= I18n.translate('mobile.footer')%>
		</div>
		
	</div>   <!-- End Search For Cleans Page -->
	
	
																				<!-- Show Alerts Page -->
	<div data-role="page" id="alerts">  	  
	 <!-- Header -->
	  <div data-role="header" id='hdrAlerts' name='hdrAlerts' >
	  	TCKTCRCKT
	  </div>
	
	  <!-- Main Content-->
	  <div data-role="content" id="alertsContent" name="alertsContent" >
		
		<!-- Search Bar -->

		<!-- Show ALarms -->
		
	    <ul data-role='listview' id="alertList" data-theme="g">
			<%if @alerts && @alerts != []%>
			<%@alerts.each do |a|%>
	    	<li>
				<div class='alert' data-id=<%=a.id%> >
					<b><%=a.location%> <br/></b>
					<%=a.clean_time%> <br/>
					<div class='sendTime'  data-id=<%=a.id%> > <%if a.nb4%><%= I18n.translate('mobile.night_before')%><%else%><%= I18n.translate('mobile.one_hour')%><%end%> </div>
					<button class='change' data-id=<%=a.id%> ><%= I18n.translate('mobile.change_time')%></button>
					<button class='delete' data-id=<%=a.id%> ><%= I18n.translate('mobile.delete')%></button>
				</div>
			</li>
			<%end%>
			<%else%>
				<li><%= I18n.translate('mobile.no_alerts')%></li>
			<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
    </div>


	<div data-role="page" id="recent">  	  
	 <!-- Header -->
	  <div data-role="header" id='hdrRecent' name='hdrRecent' >
	  	TCKTCRCKT
	  </div>
																				<!-- Recent Alarms -->
	  <!-- Main Content-->
	  <div data-role="content" id="recentContent" name="recentContent" >
		

		<!-- Show ALarms -->
		
	    <ul data-role='listview' data-theme="g">
			<%if @recs && @recs != []%>
			<%@recs.each do |r|-%>
		    	<li><%=r%><button id='recentCreateAlert' q="<%=r%>" >Create Alert!</button> <br/></li>
			<%end%>
			<%else%>
				<li><%= I18n.translate('mobile.no_recent')%></li>
			<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
    </div>

     																			<!-- Search Results-->

	<div data-role="page" id="results">  	  
	  <!-- Header -->
	  <div data-role="header" id='hdrResults' name='hdrResults' >
	  	TCKTCRCKT
	  </div>
	  <!--End Header -->
	
	  <!-- Main Content-->
	  <div data-role="content" id="resultsContent" name="resultsContent" >
		<div id='searchresults'></div>
		<%if signed_in?%>
		<button id='searchCreateAlert' q="fillmein" time="fillmein" ><%= I18n.translate('mobile.create_alert')%></button>
		<%else%>
		<li><a rel='external' href="/users/sign_in?mobile=1">Sign In/ Sign Up to Create Alarms</a></li>
		<%end%>

		
	  </div>
	  <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		<%= I18n.translate('mobile.footer')%>
	  </div>
	  <!-- End Footer -->
    </div>
	<!-- ################## End Search Results Page ############### -->
	  
</div> <!-- End Container -->
