<script>
$(document).ready(function(){
	$(".user_submit").click(function(){
		htmlGetNextCleanTime();
	});
	
	$(".htmlSearchBox").keypress(function(){
		if ( event.which == 13 ) {
			htmlGetNextCleanTime();
		}
	});
});
</script>

<div id="alertmsg">
	<div class='info'>Welcome to TCKTCRCKT</div>	
</div>


<div id="lookup_container">

	<div id="lookup_form_container">
		  <input class='htmlSearchBox' name ='q' placeholder='sex' type="text" value=" " />
		  <input class='user_submit' type="submit" value="Go" />
	</div>
	<div class="content_box" id="about_box">

	<p> <%= I18n.translate('about_us.intro') %></p>

	<h3><%= I18n.translate('about_us.facts_title') %></h3>

	<h4><%= I18n.translate('about_us.fact_1') %></h4>

	<h4><%= I18n.translate('about_us.fact_2') %></h4>

	<h4><%= I18n.translate('about_us.fact_3') %></h4>

	<p><%= I18n.translate('about_us.closing') %></p>	

	</div>

</div>

