<html>
<head>	
</head>	

<div id="alertmsg">

<%if @message&&@box%>
	<%if @box == "error"%>
		<div class='error'><%=@message%></div>
	<%elsif @box == "warn"%>
		<div class='warning'><%=@message%></div>
	<%elsif @box == 'info'%>
		<div class='info'><%=@message%><%=link_to image_tag "alert.png", :class => "cell",:controller=>"alert", :action=>"create", :method => "get"%></div>
	<%elsif @box == 'error'%>
		<div class='error'><%=@message%></div>
	<%end%>
<%end%>
</div>



<div id="lookup">
<%= form_tag("/lookup/addr", :method => "get") do %>

	<b><font size=5>
		<div id="input">
  	<%= text_field_tag(:q, nil, :placeholder => "Search address for cleaning times in San Francisco...", :size => 55) -%></font>
    <%= submit_tag("", :class => "user_submit") %>
		</div>
<% end %>
</div>

</html>