<html>
<head>	

	<!-- JQUERY CODE -->
	  <script>
	  $(document).ready(function() {
	    $("#accordion").accordion();
	  });
	  </script>
</head>	

<div id='container'>	
	<!-- Page Declaration -->
	<div data-role="page" id="main">  	  
	 <!-- Header -->
	  <div data-role="header" id='hdrMain' name='hdrMain' data-nobackbtn='true'>
	  	TCKTCRCKT
	  </div>
	
	  <!-- Main Content-->
	  <div data-role="content" id="mainContent" name="mainContent" >
		
		<!-- Search Bar -->

		<!-- Show ALarms -->
	    <ul data-role='listview' data-theme="g">
			<li><a href="#searchForCleans">Search For Cleaning Times</a></li>
			<li><a href="#alerts">Current Alerts</a></li>
			<li><a href="#recent">Recent Alarms</a></li>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		Start Winning!
	  </div>
    </div>   <!-- End MAIN PAGE -->
    

    <div data-role="page" id="searchForCleans">
			<!-- CLEANS HEADER  -->
	  	<div data-role="header" id='sfcHdr' name='sfcHdr'>
		  	Search for Cleaning Times
		</div>
		     <!-- CLEANS CONTENT -->
 	    <div data-role="content" id="searchForCleansContent" name="searchForCleansContent" >
			<form_action='addr' method="get">
				<div data-role="fieldcontain">
						    <label for="search">Search Cleaning Times</label>
						    <input type="search" name="streetclean" id="search" value="" />
					        <button type="submit" name="submit" value="submit-value">Submit</button>
				</div>
			</form>
		</div>
			<!-- CLEANS FOOTER -->
	   <div data-role="footer">
	   		Start Winning
		</div>
		
	</div>   <!-- End Search For Cleans Page -->
	<!-- Page Declaratioz -->
	<div data-role="page" id="alerts">  	  
	 <!-- Header -->
	  <div data-role="header" id='hdrAlerts' name='hdrAlerts' >
	  	TCKTCRCKT
	  </div>
	
	  <!-- Main Content-->
	  <div data-role="content" id="alertsContent" name="alertsContent" >
		
		<!-- Search Bar -->

		<!-- Show ALarms -->
		
	    <ul data-role='listview' data-theme="g">
			<%if @alerts && @alerts != []%>
			<%@alerts.each do |a|-%>
		    	<li><%=a.location%> <br/>
				<%=a.clean_time%> <br/>
				<%if a.nb4%>Night Before<%else%>One Hour Before<%end%> 
				 <%= link_to 'Delete', @alert, :q => "a.id", :method => :delete, "data-icon" => "delete", :class => "user_delete" %> | <%= submit_tag("edit", :controller => "alert", :action => "edit", :alarm => a.id, :method => "get", :class => "user_delete" ) %></li>
			<%end%>
			<%else%>
				<li>You have no Alerts</li>
			<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		Start Winning!
	  </div>
    </div>

	<div data-role="page" id="recent">  	  
	 <!-- Header -->
	  <div data-role="header" id='hdrRecent' name='hdrRecent' >
	  	TCKTCRCKT
	  </div>
	
	  <!-- Main Content-->
	  <div data-role="content" id="recentContent" name="recentContent" >
		
		<!-- Search Bar -->

		<!-- Show ALarms -->
		
	    <ul data-role='listview' data-theme="g">
			<%if @recs && @recs != []%>
			<%@recs.each do |r|-%>
		    	<li><%=r%> <br/>
			<%end%>
			<%else%>
				<li>You have no Recent Searches</li>
			<%end%>
		</ul>	
		
	  </div> <!-- End main content div -->
	
	  <!-- Footer -->
	  <div data-role="footer">
		Smoke Weed!
	  </div>
    </div>
	
	  
</div> <!-- End Container -->
