<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= I18n.translate('how_to.title')%></title>
</head>

<h1 id = "how_title">
	<%= I18n.translate('how_to.title')%>
<h1>
	
<article id = "how_body">
	<section class = "content_box" id = "how_para">
		<%= I18n.translate('how_to.intro.intro_1')%><%= link_to "TcktCrckt", lookup_addr_path %> <%= I18n.translate('how_to.intro.intro_2')%> <%= link_to "the Sign Up page", new_user_registration_path %> <%= I18n.translate('how_to.intro.intro_3')%><br><hr>
		<%= I18n.translate('how_to.intro.intro_4')%><hr>
		
		<ol>
			<li><%= I18n.translate('how_to.steps.step_1')%></li>
				<ul>
					<li><%= I18n.translate('how_to.steps.step_2')%></li>
					<li><%= I18n.translate('how_to.steps.step_3')%></li>
				</ul>
			<li><%= I18n.translate('how_to.steps.step_4')%></li>
			<li><%= I18n.translate('how_to.steps.step_5')%></li>
			<li><%= I18n.translate('how_to.steps.step_6')%></li>
		</ol>
	</section>
</article>			
		
